{% extends "frontend/layout_base.html" %}
{% load bootstrap3 compress frontend_tags %}
{% block title %}
    <h3 class="main-title">Alta de asistencia diaria</h3>
{% endblock %}
{% block wide_class %}container{% endblock %}
{% block content %}

    <form action="." method="post" id="asistencia_form">
    <div class="row">

        {% if request.user.is_supervisor %}
            <div class="col-sm-6">
                {% bootstrap_field form.proyecto %}
                <h4>Proyecto: <strong>{{ proyecto }}</strong></h4>
                <h4>Reponsable: <strong>{{ proyecto.responsable_rel.persona }}</strong></h4>
            </div>
            <div class="col-sm-6">
                <h4>
                {% bootstrap_field form.fecha layout='horizontal' horizontal_label_class='col-sm-2' size='small' %}
                </h4>
            </div>
        {% else %}
            <div class="col-sm-6">
                {% bootstrap_field form.proyecto %}
                <h4>Proyecto: <strong>{{ proyecto }}</strong></h4>
            </div>
            <div class="col-sm-6"><h4>
                Fecha: <strong>{% now "d/m/Y" %}</strong>
            </h4></div>
                <div style="display: none;">
                    {% bootstrap_field form.fecha %}
                </div>
        {% endif %}

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body cambiar-estados">
                    Cambiar todos los estados:
                    {{ formsets.0.estado }}
                    <a class="btn btn-info" id="btn-all-estado">Aplicar</a>
                    <input type="submit" value="Guardar" class="submit btn btn-primary pull-right btn-submit"/>
                </div>
            </div>
        </div>

    </div>
    {% bootstrap_form_errors form type='non_fields' layout='inline' %}
        {% csrf_token %}
        {{ formsets.management_form }}
        {{ formsets.non_form_errors }}

        <table class="table table-striped alta-asistencia">
        <thead>
        <tr>
            <th>Nombre</th>
            <th colspan="2">Estado de asistencia</th>
        </tr>
        </thead>
        <tbody>
        {% for fs in formsets %}
            <tr data-index="{{ formsets.prefix }}">
                <td>
                    {{ personas|get_persona:fs }}
                    {{ fs.persona }}

                </td>
                <td>{{ fs.estado }}</td>
                <td><span class="text-danger">{{ fs.estado.errors|striptags }}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'frontend/includes/_personas_ya_registradas.html' %}
        {% if request.user.is_supervisor %}
        <a class="btn btn-default" href="{% url 'supervisor_frontend:index_responsable' %}">Volver</a>

    {% else %}
        <a class="btn btn-default" href="{% url 'index' %}">Volver</a>
    {% endif %} |
        <input type="submit" value="Guardar" class="submit btn btn-primary btn-submit"/>
    </form>


{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% compress js %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function(){

                $("#btn-all-estado").click(function(e){
                    e.preventDefault();
                    new_elem = $(".cambiar-estados select").val();
                    $("table.alta-asistencia select").each(function(i,elem){
                        $(elem).val(new_elem);
                    });
{#                    alta-asistencia#}
                });

                $(".btn-submit").click(function(e){
                    e.preventDefault();
                    showConfirm('Presentación de asistencia',
                                'Está a punto de enviar la planilla de asistencia. Una vez enviada no se puede modificar.\n¿Desea continuar?',
                                function() {
                                    $("#asistencia_form").submit();
                                });
                });
            });
        })(jQuery);
    </script>
    {% endcompress %}
{% endblock %}