{% extends "frontend/layout_base.html" %}
{% load bootstrap3 frontend_tags compress pipeline static %}

{% block extra_css %}
    <link media="all" href="{% static "nvd3/build/nv.d3.min.css" %}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
    <ul class="nav nav-pills">
      <li class="{% block active_index %}{% endblock %}"><a href="{% url 'index' %}">Panel</a></li>
      <li class="{% block active_percentual %}{% endblock %}"><a href="{% url 'supervisor_frontend:datos_porcentuales' %}">Datos porcentuales</a></li>
      <li class="{% block active_x_persona %}{% endblock %}"><a href="{% url 'supervisor_frontend:asistencia_persona' %}">Asistencia por persona</a></li>
      <li class="{% block active_alta_asistencia %}{% endblock %}"><a href="{% url 'supervisor_frontend:index_responsable' %}">Alta de asistencia por Responsable</a></li>

    </ul>
    {% block subtitle %}
        <h2 class="main-title">Control de ausentismo</h2>
    {% endblock %}
    {% block supervisor_content %}{% endblock %}
{% endblock %}
