{% load pipeline compress static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema de control de ausentismo. Zille SRL. Recursos Humanos.">
    <meta name="author" content="Matías Varela">

    <title>{% block title_head %}{%endblock %} RRHH - Zille</title>
    {% compress css %}
        {% stylesheet 'base' %}
    {%  endcompress %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		{% block extra_css %}{% endblock %}
		{% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% block navbar %}{% endblock %}

    {% block base_content %}{% endblock %}
    <div style="clear: both"></div>
    {% block footer %}{% endblock %}
    {% compress js %}
        {% javascript 'base_js' %}
    {% endcompress %}
    {% include 'autocomplete_light/static.html' %}
    {% block js %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>
