{% extends "frontend/base_supervisor.html" %}
{% load compress %}

{% block supervisor_content %}
    <div class="col-sm-12">
    <form class="form-inline" method="GET" action="." role="form" id="report-form">
        <fieldset>
            <legend>Rango de fechas</legend>
            <div class="form-group">
                <label class="sr-only control-label" for="fecha_desde">Fecha desde: </label>
                <div class="input-group date">
                    <input type="text" name="fecha_desde" id="fecha_desde"  class="form-control datepicker"
                           placeholder="Fecha desde" value="{{ fecha_desde|date:"d/m/Y" }}">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only control-label" for="fecha_hasta">Fecha hasta:</label>
                <div class="input-group date">
                    <input type="text" name="fecha_hasta" id="fecha_hasta"  class="form-control datepicker"
                           placeholder="Fecha hasta" value="{{ fecha_hasta|date:"d/m/Y" }}">
                </div>
            </div>
            {% block extra_field_filter %}{% endblock %}
            <div class="form-group">
                <a type="input" class="btn btn-info" id="btn-hoy">Hoy</a>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="btn-submit">Filtrar</button>
            </div>
            <div class="form-group">
                {% block btn_export %}
                {%  endblock %}
            </div>
            <div class="form-group">
                {% block total_report %}{% endblock %}
            </div>
            </fieldset>
        </form>
    </div>
    <div class="col-sm-12">
    {% block data_table %}
    {%  endblock %}
    </div>
{% endblock %}
{% block extra_js %}
    {% compress js %}
        <script type="text/javascript" >

            $(document).ready(function () {
                $("[data-actions=export]").click(function (e) {
                    e.preventDefault();
                    window.location = $(this).data("url") + '?' + $("#report-form").serialize(); //"?fecha_desde=" + $("#fecha_desde").val() + "&fecha_hasta=" + $("#fecha_hasta").val();
                });

                $("#btn-hoy").click(function(e){
                    $("#fecha_desde").val(get_today());
                    $("#fecha_hasta").val(get_today());
                    $("#btn-submit").click();
                });

            });
        </script>
    {% endcompress %}
{% endblock %}
