{% extends "frontend/layout_base.html" %}
{% load bootstrap3 frontend_tags compress pipeline static %}

{% block extra_css %}
    <link media="all" href="{% static "nvd3/build/nv.d3.min.css" %}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
    <ul class="nav nav-pills">
      <li class="{% block active_index %}{% endblock %}"><a href="{% url 'index' %}">Panel</a></li>

      <li class="{% block active_alta_asistencia %}{% endblock %}"><a href="{% url 'supervisor_frontend:index_responsable' %}">Alta de asistencia por Responsable</a></li>
      <li class="item-menu dropdown {% block report %}{% endblock %}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Reportes <span><b class="caret"></b></span>
        </a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'supervisor_frontend:datos_porcentuales' %}">Datos porcentuales</a></li>
              <li><a href="{% url 'supervisor_frontend:asistencia_estado' %}">Datos acumulativos</a></li>
              <li><a href="{% url 'supervisor_frontend:porcentaje_persona_proyecto' %}">Asistencia por CC</a></li>
          </ul>
      </li>
        <li class="pull-right">{% bootstrap_form buscar_persona_form %}</li>
    </ul>

    {% block subtitle %}
        <h2 class="main-title">{% block sub_title %}Control de ausentismo{% endblock %}</h2>
    {% endblock %}
    {% block supervisor_content %}{% endblock %}
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    {% compress js %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function () {
                $("#id_persona-autocomplete").removeAttr("disabled");

                $("#id_persona").change(function() {
                    id = $("#id_persona").val();
                    if(id) window.location = '/supervisor/personal/' + id + "/";   {# feo, pero no puedo resolver la url antes #}
                });
            });
        })(jQuery);
    </script>
    {% endcompress %}
{% endblock %}

