{% extends "frontend/base_supervisor.html" %}
{% load bootstrap3 frontend_tags compress pipeline static %}
{% block active_index %}active{% endblock %}
{% block extra_head %}<meta http-equiv="refresh" content="120" />{% endblock %}
{% block supervisor_content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Total de toma de asistencia (Proyecto)
                </div>
                <div class="panel-body" title="{{ total_proy }} proyectos activos, {{ num_asis_proy }} enviaron su asistencia.">
                    {% calc_porc num_asis_proy total_proy as proc_proy %}
                    <h3>{{ proc_proy }}% de planillas enviadas</h3>
                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: {{ proc_proy }}%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Total de toma de asistencia (Personas)
                </div>
                <div class="panel-body" title="{{ total_persona }} personas activas, {{ num_asis_persona }} con resgistro de asistencia.">
                    {% calc_porc num_asis_persona total_persona as proc_pers %}
                    <h3>{{ proc_pers }}% del personal registrado</h3>
                    <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: {{ proc_pers }}%"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Porcentaje de personal activo
                </div>
                <div class="panel-body">
                    <h3>{{ perc_no_ocioso }}% de personas no ociosas</h3>
                    <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: {{ perc_no_ocioso }}%"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Resumen
                </div>
                <div class="panel-body">
                    <p>Total proyectos activos: <strong>{{ total_proy }}</strong></p>
                    <p>Total personas activas: <strong>{{ total_persona }}</strong></p>
                    <p>Personas en proyectos inactivos: <strong>{{ pers_sin_proyecto }}</strong></p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Evolución de asistencias de los últimos 7 días
                </div>
                <div class="panel-body">
                    <div id="chart" class="col-sm-6">
                        <svg></svg>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Presentes</th>
                                    <th>Ausentes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in table_evolucion|order_fecha_desc %}
                                <tr>
                                    <td>{{ x.0 }}</td>
                                    <td>{{ x.1 }}</td>
                                    <td>{{ x.2 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Presentación de asistencias por proyectos
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Proyectos</th>
                                <th>Responsables</th>
                                <th>Registros de asistencia</th>
                                <th>Personas en el proyecto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in proyectos_estados %}
                            <tr class="{% if x.4 > 0 %}success{% else %}danger{% endif %}">
                                <td>{{ x.1 }}</td>
                                <td>{{ x.3 }}, {{ x.2 }}</td>
                                <td>
                                    {% if x.4 > 0 %}{{ x.4 }}
                                        {% if x.4 != x.5 %} <a href="{% url "supervisor_frontend:asistencia_del_dia" x.0 %}" class="label label-warning">¡Revisar! Diferencia encontrada.</a>{% endif %}
                                    {% else %}--{% endif %}</td>
                                <td>{{ x.5 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    {{ block.super }}
    {% compress js %}
        {% javascript 'graphics_js' %}
        <script type="text/javascript" >

            $(document).ready(function() {

                var datus = [
                    {% for dat in graf_evolucion %}
                        {
                            key: "{{ dat.key }}",
                            color: {% if forloop.first %}"#325D88"{% else %}"#D9534F"{% endif %},
                            values: [
                                {% for val in dat.values %}
                                    {x: new Date("{{ val.x }}"), y: {{ val.y }}}
                                    {% if not forloop.last %},{% endif %}
                                {%  endfor %}
                            ]
                        }
                        {% if not forloop.last %},{% endif %}
                    {%  endfor %}
                ];

                nv.addGraph(function() {
                    var chart = nv.models.multiBarChart()
                            //.useInteractiveGuideline(true)
                            .options({
                                margin: {left: 50, bottom: 100},
                                showXAxis: true,
                                showYAxis: true,
                                transitionDuration: 500,
                                noData: "No hay datos para el rango de fechas seleccionada.",
                            });

                    chart.xAxis
                            .axisLabel("Días")
                            .rotateLabels(-45)
                            .tickFormat(function (d) {
                                return d3.time.format('%Y-%m-%d')(new Date(d))
                            });

                    chart.yAxis.tickFormat(d3.format('d'));

                    d3.select('#chart svg')
                        .datum(datus)
                        .transition().duration(500)
                        .call(chart)
                        ;

                    nv.utils.windowResize(chart.update);

                    return chart;
                });
            });

</script>
    {% endcompress %}
{% endblock %}