{% extends "frontend/base_data_report.html" %}
{% load compress frontend_tags%}
{% block report %}active{% endblock %}
{% block total_report %}<span class="panel text-primary">Mostrando registros de {{ table|length|add:"-2" }} días.</span>{% endblock %}
{% block sub_title %}Datos porcentuales{% endblock %}
{% block btn_export %}
    <a class="btn btn-default" data-actions="export" data-url="{% url 'supervisor_frontend:export_porcentual' %}">Exportar</a>
{%  endblock %}
{% block data_table %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Totales</h4>
        </div>
        <div class="panel-body">
            {% for k, v in summary.items %}
            <div class="col-xs-4 col-sm-3 col-md-2">
                <h4>{{ k }}: <strong>{{ v|percentage:"3" }}%</strong></h4>
            </div>
            {% endfor %}
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover sticky-table-headers">
        {% for x in table %}
            {% if forloop.first %}
                <thead>
                    <tr>
                    {% for y in x %}
                        <th>{{ y }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% elif forloop.last %}

                    </tbody>
                {% else %}
                    <tr {% if x.1 %}class="weekend"{% endif %}>
                    {% for y in x %}

                        {% if forloop.first %}
                            <td>{{ y|date:"d/m/Y" }}</td>
                        {% elif forloop.counter0 > 1 %}
                            <td>{{ y|percentage }}</td>
                        {% endif %}

                    {%  endfor %}
                    </tr>
                {% endif %}
        {% endfor %}
    </table>
{%  endblock %}