{% extends "frontend/base.html" %}
{%  load bootstrap3 compress repl %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">ZILLE - RRHH</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'index' %}">Inicio</a></li>

                    {% if request.user.cambia_personal %}
                        {% with ""|add:request.current_app|add:":reasignar_personal" as url1 %}
                            <li><a href="{% url url1 %}">Reasignar personal</a></li>
                        {% endwith %}

                    {% endif %}
                    {% if request.user.is_superuser or request.user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">Administración</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs"><a href="#">{% now "l d \d\e F \d\e Y" %}</a></li>
                    {% if user.is_authenticated %}

                        <li class="item-menu dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div>
                                <span>Hola <strong>{{ user.username }}</strong></span>
                                <span><b class="caret"></b></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'password_change' %}">Cambiar contraseña</a></li>
                            <li><a href="#" id="id_Signout">Cerrar sesión</a></li>
                        </ul>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>

{% endblock %}
{% block base_content %}
<div class="container main-wrapper">
    {% block title %}{% endblock %}
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</div>
{%  endblock %}
{% block footer %}
<footer class="container-fluid">
  {% now "Y" %} - MAVA - Ingeniería Informática

</footer>
{% endblock %}
{% block js %}
    {% compress js %}
    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $("#id_Signout").click(function(e){
                    e.preventDefault();
                    showConfirm('Cerrar sesión', 'Va a cerrar la sesión. ¿Continuar?', function(){
                        window.location = '{% url 'logout' %}';
                    });
                });
            });
        })(jQuery);
    </script>
    {% endcompress %}
{% endblock %}
