{% extends "frontend/layout_base.html" %}
{% load bootstrap3 frontend_tags compress %}
{% block index_act %}{% endblock %}
{% block reasignar_act %}active{% endblock %}
{%  block title %}
    <h2 class="main-title">Reasignación de personal</h2>
{% endblock %}
{% block wide_class %}container{% endblock %}
{% block content %}

    <form action="." method="post" id="reasignar-form">
        {% csrf_token %}
        <div class="well">
                Mediante esta herramiento, podrá cambiar el proyecto asignado a cualquier persona.
                Este cambio se ve reflejado inmediantemente, por lo que la persona seleccionada
                será listada en la lista del nuevo proyecto de forma inmediata.
            </div>
        <div class="row reasignar">

            <div class="col-sm-6">
                <p class="well well-sm">Primero, busque a la persona que desea cambiar de proyecto:</p>
                {% bootstrap_field form.persona %}
            </div>

            <div class="col-sm-6">
                <p class="well well-sm">Escoja su nuevo proyecto:</p>
                {% bootstrap_field form.proyecto %}
            </div>
        </div>
        <input type="submit" value="Reasignar" class="submit btn btn-primary" id="btn-submit"/>
    </form>
{% endblock %}

{% block extra_js %}
    {% compress js %}
    <script type="text/javascript">
        (function($){


            $(document).ready(function(){
                $("#btn-submit").click(function(e){
                    e.preventDefault();
                    showConfirm(
                            'Reasignación de personal',
                            'Está a punto de cambiar de proyecto a la persona seleccionada. ¿Desea continuar?',
                            function(){ $("#reasignar-form").submit(); }
                    );
                });
                $("#id_proyecto").chosen({'search_contains':true});
            });

        })(jQuery);
    </script>
    {% endcompress %}
{% endblock %}