{% extends "frontend/layout_base.html" %}
{% load bootstrap3 frontend_tags %}
{% block wide_class %}container{% endblock %}
{%  block title %}
    <h2 class="main-title">Detalles de la asistencia del {{ object.fecha }}</h2>
{% endblock %}
{% block content %}

    <h3>
        Proyecto: <strong>{{ object.proyecto }}</strong>
        {% if request.user.is_supervisor %}
        <a class="btn btn-primary pull-right" href="{% url 'admin:modelo_asistencia_change' object.pk %}" target="_blank">Editar</a>
        {% endif %}
    </h3>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th colspan="2">Estado de asistencia</th>

        </tr>
        </thead>
        <tbody>
        {% for r in object.items.all %}
            <tr>
                <td>{{ r.persona }}</td>
                <td>{{ r.estado.codigo }}</td>
                <td>{{ r.estado.situacion }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
