{% extends "frontend/layout_base.html" %}
{% load bootstrap3 frontend_tags %}
{% block wide_class %}container{% endblock %}
{%  block title %}
    <h2 class="main-title">Detalles de la asistencia</h2>
{% endblock %}
{% block content %}
    {% include 'frontend/includes/_table_asistencia.html' %}
    {% include 'frontend/includes/_personas_ya_registradas.html' %}
    {% if request.user.is_supervisor %}
        <a class="btn btn-default" href="{% url 'supervisor_frontend:index_responsable' %}">Volver</a>

    {% else %}
        <a class="btn btn-default" href="{% url 'index' %}">Volver</a>
    {% endif %}

{% endblock %}
