{% if proyectos %}
    <div class="jumbotron">
        <div class="container proyecto-list">
            {% for f in proyectos %}
            <div class="col-lg-6 col-md-9">
                {% with ""|add:request.current_app|add:":alta_asistencia" as url1 %}
                    <a href="{% url url1 f.pk %}"
                       class="btn  btn-{% if f.pk in asistencia_dia %}success{% else %}danger{% endif %} btn-lg btn-block">
                        <div class="col-xs-2">
                            {% if f.pk in asistencia_dia %}
                                <i class="fa fa-check-circle-o"></i>
                            {%  else %}
                                <i class="fa fa-exclamation"></i>
                            {% endif %}
                        </div>
                        <div class="col-xs-10 text-left">
                            <h4><strong>{{ f.nombre }}</strong></h4>
                            <h5>{{ f.total_personas }}</h5>
                        </div>
                    </a>
                {% endwith %}
            </div>
        {% endfor %}
        </div>
    </div>

{% else %}
    <div class="jumbotron">
    <h2 class="text-warning">
    Actualmente, no tiene asignados proyectos. Si creé que esto es un error,
        comuníquese con los supervisores de Recursos Humanos.
    </h2>
    </div>
{% endif %}