{% extends "auth/base.html" %}
{% load bootstrap3 %}
{% block content %}

{% if validlink %}
    <div class="panel-heading">Restablecer contraseña</div>
        <form method="post" action=".">
            {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Enviar
            </button>
        {% endbuttons %}
        </form>
    </div>

{% else %}
    <div class="alert alert-danger">Error al procesar la solicitud.</div>
{% endif %}

{% endblock %}
